<div class="container">
  <div class="form">
    <div class="row">
      <div class="col-md-6 mx-auto mt-4">
        <h2>Sign Up</h2>
        <%= form_with model: @user, url: user_registration_path, html: { id: 'form' } do |f| %>
          <div class="mb-3">
            <%= f.label :name, class: "form-label" %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= f.label :email, class: "form-label" %>
            <%= f.email_field :email, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= f.label :password, class: "form-label" %>
            <%= f.password_field :password, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= f.label :password_confirmation, class: "form-label" %>
            <%= f.password_field :password_confirmation, class: "form-control" %>
          </div>
          <%= f.submit "Sign Up", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="form-bottom mx-auto">
  <div class="comment-space" id="robot-comment">
    <p>君が新しいお友達？<br>これからよろしくね!</p>
  </div>
  <div class="robo-space">
    <%= image_tag "896.png", class:"robo1-image"%>
  </div>
</div>