<div class="container">
  <div class="form">
    <div class="row">
      <div class="col-md-6 mx-auto mt-3">
        <h3 class="h-color">モヤモヤを吐き出そう</h3>
        <%= form_with model: @worry, local: true do |f| %>
          <div class="mb-3">
            <p class="form-label"> 素直な気持ち <span class="text-danger">(必須)</span></p>
            <%= f.text_area :text, class: "form-control text-area" %>
          </div>
          <div class="mb-3">
            <p class="form-label"> モヤモヤの種類 <span class="text-danger">(必須)</span></p>
            <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"form-control", id:"dropdown1"}) %>
          </div>
          <div class="mb-3">
            <p class="form-label"> モヤモヤの題名 <span class="text-danger">(必須)</span></p>
            <%= f.text_field :title, class: "form-control" %>
          </div>
          <%= f.submit "保存", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="form-bottom mx-auto">
  <div class="comment-space">
    <div id="text-container">
      <p>話してくれて、<br>ありがとう。<br>保存しておくね。</p>
    </div>
  </div>
  <div class="robo-space">
    <%= image_tag "896.png", class:"robo1-image"%>
  </div>
</div>