<div class="user-container">
  <div class="user-form">
    <div class="row">
      <div class="col-md-6 mx-auto mt-4">
        <h2>sign up</h2>
        <%= form_with model: @user, url: user_session_path do |f| %>
          <div class="mb-3 mt-5">
            <%= f.label :email, class: "form-label" %>
            <%= f.email_field :email, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= f.label :password, class: "form-label" %>
            <%= f.password_field :password, class: "form-control" %>
          </div>
          <%= f.submit "Sign Up", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="user-bottom mx-auto">
  <div class="comment-space">
    <p>お帰りなさい！<br>今日もお疲れ様。</p>
  </div>
  <div class="robo-space">
    <%= image_tag "896.png", class:"robo1-image"%>
  </div>
</div>