<div class="container">
  <div class="form">
    <div class="row">
      <div class="col-md-6 mx-auto mt-4">
        <h2>Log In</h2>
        <%= form_with model: @user, url: user_session_path, html: { id: 'form' } do |f| %>
          <div class="mb-3 mt-5">
            <%= f.label :email, class: "form-label" %>
            <%= f.email_field :email, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= f.label :password, class: "form-label" %>
            <%= f.password_field :password, class: "form-control" %>
          </div>
          <%= f.submit "Log In", class: "btn btn-primary" %>
        <% end %>
        <div class="mt-4">
          <%= link_to '新規登録', new_user_registration_path, class: "h-color" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form-bottom mx-auto">
  <div class="comment-space" id="robot-comment">
    <p>お帰りなさい！<br>今日もお疲れ様。</p>
  </div>
  <div class="robo-space">
    <%= image_tag "896.png", class:"robo1-image"%>
  </div>
</div>