<div class="index-container mx-auto">
  <div class="index-wrapper mx-auto">
    <div class="wrapper mt-5">
      <h3 class="h-color worry-title mb-3">～<%= @todo.title %>～</h3>
        <h4 class="h-color worry-title">モヤモヤの種類：<%= @todo.category.name %></h4>
        <div class="moya-wrapper">
          <p class="h-color worry-text"><%= @todo.memo.gsub("\n", '<br>').html_safe %></p>
          <p><%= @todo.created_at.to_date %></p>
          <p>優先度：<%= @todo.priority.name %></p>
        </div>
    </div>
  </div>
</div>

<div class="show-links mb-3">
  <%= link_to 'このTODOを完了', todo_path(@todo.id), data: { turbo_method: :delete }, class:"links"%>
  <%= link_to 'このTODOを編集', edit_todo_path(@todo.id), class:"links"%>
</div>
<div class="mt-5 text-center">
  <%= link_to 'このアクションを宣言する', new_declaration_path, class:"links"%>
</div>